@blue : #528bff;
@secondblue : #0098f7;
@grey : #7d7d7d;
@font: #515151;
@btn:#252525;
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height:1.5;
  min-height: 100vh;
  background: white;
  color:@font;
  h1,h2,h3,h4,h5,h6,p,span,i {
    margin: 0;
    color:white;
  }
    article {
      background: black;
      overflow: hidden;
      .navbar-default .btn-action ,  .btn-action {
        color: white;
        margin: 5px 0;
        padding: 10px 35px;
        border:2px solid @blue;
        background: @blue;
        transition: all 100ms linear;
        &:hover {
          color:white;
          background: @blue;
          text-decoration: none;
        }
      }
      .btn-action-default {
        color: white;
        margin: 5px 0;
        padding: 10px 35px;
        border:2px solid @grey;
        background: @grey;
        transition: all 100ms linear;
        &:hover {
          color:white;
          background: @grey;
          text-decoration: none;
        }
      }
      .btn-action-primary {
        background-color: @btn;
        padding: 10px 30px;
      }
      nav.navbar {
        position: absolute;
        top:0;
        left:0;
        background: transparent;
        border:0;
        width: 100%;
        z-index: 1000;
        padding-bottom: 200px;
      }
      section.top-baner {
        background: url('../../img/black.png') no-repeat center;
        background-size: cover;
        min-height: 120vh;
        position: relative;
        z-index: 3;
        div.quote {
          margin-top: 25vh;
          div.content {
            padding: 30px 0;
          }
        }
        span.triangle {
          position: absolute;
          bottom:-100px;
          left:-100%;
          z-index: 100;
          -ms-transform: rotate(4deg); /* IE 9 */
          -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
          transform: rotate(4deg);
          width: 300%;
          height: 200px;
          display: block;
          background: white;
        }
      }
      section.explain {
        background-color: white;
        min-height: 100vh;
        padding: 200px 0;
         div.space {
          padding-top: 50px;
           div.more-project {
             padding: 100px;
             > * {
               color: @font;
             }
           }
        }
        h2 {
          padding: 0 0 100px 0;
          color:@secondblue;
          position: relative;
          &:after {
            content:'';
            display: block;
            position: absolute;
            top:18px;
            background: @grey;
            width: 100px;
            height: 1px;
            left:24%;
          }
          &:before {
            content:'';
            display: block;
            position: absolute;
            top:18px;
            background: @grey;
            width: 100px;
            height: 1px;
            right:24%;
          }
        }
        div.box {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          padding: 50px 20px 30px 20px;
          position: relative;
          span.border {
            position: absolute;
            display: block;
            background: @blue;
            width: 100%;
            height: 5px;
            top:0;
            left:0;
          }
          h4 {
            color:@font;
            padding: 20px 0 30px 0;
          }
          p {
            color: @grey;
          }
          img {
            width: 100px;
            margin: auto;
          }
          a {
            margin-top: 30px;
            display: block;
          }
        }
      }
      div#particles-js {
        position: absolute;
        top:150px;
        right:0;
        z-index: 1;
        height: 600px;
        width: 700px;
        float: right;
      }
    }
  footer {
    background: #2d313c;
    padding: 50px 0;
    h4 {
      text-transform: uppercase;
      color:@secondblue;
      font-size: 16px;
    }
    ul {
      padding: 20px 0;
      a {
        color:white;
      }
    }
  }
  html {
    position: relative;
    height: 100%;
  }
  div.backdrop {
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
  .moonlight {
    box-shadow: 0px 0px 350px 350px rgba(29, 72, 120, .5);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    bottom: 70%;
    left: 45%;
    -webkit-animation: moonrise 50s linear infinite;
    -moz-animation: moonrise 50s linear infinite;
    -o-animation: moonrise 50s linear infinite;
    animation: moonrise 50s linear infinite;
  }

  .moon {
    box-shadow: inset 0px 0px 50px 1px #6D8F94, 0px 0px 80px 30px rgba(143, 189, 255, .7);
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 100%;
  }
  /* Rising Moon Animation */
  @-webkit-keyframes moonrise {
    from { bottom: -150%; left: 35%; }
    to { bottom: 230%; left: 55%;}
  }
  @-moz-keyframes moonrise {
    from { bottom: -150%; left: 35%; }
    to { bottom: 230%; left: 55%;}
  }
  @-o-keyframes moonrise {
    from { bottom: -150%; left: 35%; }
    to { bottom: 230%; left: 55%;}
  }
  @keyframes moonrise {
    from { bottom: -150%; left: 35%; }
    to { bottom: 230%; left: 55%;}
  }
  /* stars */
  .star {
    width: 5px;
    height: 5px;
    position: relative;
    background: white;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5);
  }

  .one {
    -webkit-animation: starlight 3s ease-in infinite;
  }

  .two {
    -webkit-animation: starlight 2s ease-in infinite;
  }
  .three {
    -webkit-animation: starlight 4s ease-in infinite;
  }
  .four {
    -webkit-animation: starlight 1s ease-in infinite;
  }
  .five {
    -webkit-animation: starlight 5s ease-in infinite;
  }

  @-webkit-keyframes starlight{
    0% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
    50% { box-shadow: 0px 0px 20px 11px rgba(120, 130, 155, .5); }
    100% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
  }
  @-moz-keyframes starlight{
    0% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
    50% { box-shadow: 0px 0px 20px 11px rgba(120, 130, 155, .5); }
    100% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
  }
  @-o-keyframes starlight{
    0% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
    50% { box-shadow: 0px 0px 20px 11px rgba(120, 130, 155, .5); }
    100% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
  }
  @keyframes starlight{
    0% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
    50% { box-shadow: 0px 0px 20px 11px rgba(120, 130, 155, .5); }
    100% { box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, .5); }
  }

  .sContainer {
    position: relative;
  }

  #sFirst {
    top: 20%;
    left: 60%;
    -webkit-animation: starone 115s linear infinite;
    -moz-animation: starone 115s linear infinite;
    -o-animation: starone 115s linear infinite;
    animation: starone 115s linear infinite;
  }
  #sSecond {
    top: 5%;
    left: 22%;
    -webkit-animation: startwo 124s linear infinite;
    -moz-animation: startwo 124s linear infinite;
    -o-animation: startwo 124s linear infinite;
    animation: startwo 124s linear infinite;
  }
  #sThird {
    top: 84%;
    left: 17%;
    -webkit-animation: starthree 120s linear infinite;
    -moz-animation: starthree 120s linear infinite;
    -o-animation: starthree 120s linear infinite;
    animation: starthree 120s linear infinite;
  }
  #sFourth {
    top: 68%;
    left: 7%;
    -webkit-animation: starfour 90s linear infinite;
    -moz-animation: starfour 90s linear infinite;
    -o-animation: starfour 90s linear infinite;
    animation: starfour 90s linear infinite;
  }
  #sFifth {
    top: 42%;
    left: 92%;
    -webkit-animation: starfive 130s linear infinite;
    -moz-animation: starfive 130s linear infinite;
    -o-animation: starfive 130s linear infinite;
    animation: starfive 130s linear infinite;
  }

  @-webkit-keyframes starone {
    0% { top: -5%; left: 80%;}
    100% { top: 110%; left: 20%; }
  }
  @-moz-keyframes starone {
    0% { top: -5%; left: 80%;}
    100% { top: 110%; left: 20%; }
  }
  @-o-keyframes starone {
    0% { top: -5%; left: 80%;}
    100% { top: 110%; left: 20%; }
  }
  @keyframes starone {
    0% { top: -5%; left: 80%;}
    100% { top: 110%; left: 20%; }
  }

  @-webkit-keyframes startwo {
    0% { top: -15%; left: 22%;}
    100% { top: 110%; left: -38%; }
  }
  @-moz-keyframes startwo {
    0% { top: -15%; left: 22%;}
    100% { top: 110%; left: -38%; }
  }
  @-o-keyframes startwo {
    0% { top: -15%; left: 22%;}
    100% { top: 110%; left: -38%; }
  }
  @keyframes startwo {
    0% { top: -15%; left: 22%;}
    100% { top: 110%; left: -38%; }
  }

  @-webkit-keyframes starthree {
    0% { top: -35%; left: 57%;}
    100% { top: 110%; left: -3%; }
  }
  @-moz-keyframes starthree {
    0% { top: -35%; left: 57%;}
    100% { top: 110%; left: -3%; }
  }
@-p-keyframes starthree {
  0% { top: -35%; left: 57%;}
  100% { top: 110%; left: -3%; }
}
  @keyframes starthree {
    0% { top: -35%; left: 57%;}
    100% { top: 110%; left: -3%; }
  }

  @-webkit-keyframes starfour {
    0% { top: -5%; left: 137%; }
    100% { top: 105%; left: 77%; }
  }
  @-moz-keyframes starfour {
    0% { top: -5%; left: 137%; }
    100% { top: 105%; left: 77%; }
  }
  @-o-keyframes starfour {
    0% { top: -5%; left: 137%; }
    100% { top: 105%; left: 77%; }
  }
  @keyframes starfour {
    0% { top: -5%; left: 137%; }
    100% { top: 105%; left: 77%; }
  }

  @-webkit-keyframes starfive {
    0% { top: -55%; left: 92%; }
    100% { top: 105%; left: 32%; }
  }
  @-moz-keyframes starfive {
    0% { top: -55%; left: 92%; }
    100% { top: 105%; left: 32%; }
  }
  @-o-keyframes starfive {
    0% { top: -55%; left: 92%; }
    100% { top: 105%; left: 32%; }
  }
  @keyframes starfive {
    0% { top: -55%; left: 92%; }
    100% { top: 105%; left: 32%; }
  }

  .lstar {
    width: 2px;
    height: 2px;
    background: #aaaaff;
    border-radius: 100%;
    box-shadow: 0px 0px 13px 11px rgba(120, 140, 155, .1);
  }
  .lone {
    -webkit-animation: lstarshine .4s ease-in infinite;
    -moz-animation: lstarshine .4s ease-in infinite;
    -o-animation: lstarshine .4s ease-in infinite;
    animation: lstarshine .4s ease-in infinite;
  }
  .ltwo {
    -webkit-animation: lstarshine .2s ease-in infinite;
    -moz-animation: lstarshine .2s ease-in infinite;
    -o-animation: lstarshine .2s ease-in infinite;
    animation: lstarshine .2s ease-in infinite;
  }
  .lthree {
    -webkit-animation: lstarshine .1s ease-in infinite;
    -moz-animation: lstarshine .1s ease-in infinite;
    -o-animation: lstarshine .1s ease-in infinite;
    animation: lstarshine .1s ease-in infinite;
  }
  .lfour {
    -webkit-animation: lstarshine .3s ease-in infinite;
    -moz-animation: lstarshine .3s ease-in infinite;
    -o-animation: lstarshine .3s ease-in infinite;
    animation: lstarshine .3s ease-in infinite;
  }
  .lfive {
    -webkit-animation: lstarshine .3s ease-in infinite;
    -moz-animation: lstarshine .3s ease-in infinite;
    -o-animation: lstarshine .3s ease-in infinite;
    animation: lstarshine .3s ease-in infinite;
  }
  .lsix {
    -webkit-animation: lstarshine .1s ease-in infinite;
    -moz-animation: lstarshine .1s ease-in infinite;
    -o-animation: lstarshine .1s ease-in infinite;
    animation: lstarshine .1s ease-in infinite;
  }
  .lseven {
    -webkit-animation: lstarshine .4s ease-in infinite;
    -moz-animation: lstarshine .4s ease-in infinite;
    -o-animation: lstarshine .4s ease-in infinite;
    animation: lstarshine .4s ease-in infinite;
  }
  .leight {
    -webkit-animation: lstarshine .1s ease-in infinite;
    -moz-animation: lstarshine .1s ease-in infinite;
    -o-animation: lstarshine .1s ease-in infinite;
    animation: lstarshine .1s ease-in infinite;
  }
  .lnine {
    -webkit-animation: lstarshine .2s ease-in infinite;
    -moz-animation: lstarshine .2s ease-in infinite;
    -o-animation: lstarshine .2s ease-in infinite;
    animation: lstarshine .2s ease-in infinite;
  }
  .lten {
    -webkit-animation: lstarshine .3s ease-in infinite;
    -moz-animation: lstarshine .3s ease-in infinite;
    -o-animation: lstarshine .3s ease-in infinite;
    animation: lstarshine .3s ease-in infinite;
  }
  .leleven {
    -webkit-animation: lstarshine .3s ease-in infinite;
    -moz-animation: lstarshine .3s ease-in infinite;
    -o-animation: lstarshine .3s ease-in infinite;
    animation: lstarshine .3s ease-in infinite;
  }
  .ltwelve {
    -webkit-animation: lstarshine .3s ease-in infinite;
    -moz-animation: lstarshine .3s ease-in infinite;
    -o-animation: lstarshine .3s ease-in infinite;
    animation: lstarshine .3s ease-in infinite;
  }

  @-webkit-keyframes lstarshine {
    0% { box-shadow: 0px 0px 13px 11px rgba(120, 140, 155, .1); }
    50% { box-shadow: 0px 0px 5px 5px rgba(120, 140, 155, .1); }
    100% { box-shadow: 0px 0px 13px 11px rgba(120, 140, 155, .1); }
  }

  .lsContainer {
    position: relative;
  }

  #lsFirst {
    top: 11%;
    left: 28%;
    -webkit-animation: lsPosFirst 160s linear infinite;
    -moz-animation: lsPosFirst 160s linear infinite;
    -o-animation: lsPosFirst 160s linear infinite;
    animation: lsPosFirst 160s linear infinite;
  }

  @-webkit-keyframes lsPosFirst {
    from { top: -15%; left: 26%; }
    to { top: 102%; left: -34%;}
  }
  @-moz-keyframes lsPosFirst {
    from { top: -15%; left: 26%; }
    to { top: 102%; left: -34%;}
  }
  @-o-keyframes lsPosFirst {
    from { top: -15%; left: 26%; }
    to { top: 102%; left: -34%;}
  }
  @keyframes lsPosFirst {
    from { top: -15%; left: 26%; }
    to { top: 102%; left: -34%;}
  }

  #lsSecond {
    top: 69%;
    left: 71%;
    -webkit-animation: lsPosSecond 130s linear infinite;
    -moz-animation: lsPosSecond 130s linear infinite;
    -o-animation: lsPosSecond 130s linear infinite;
    animation: lsPosSecond 130s linear infinite;
  }

  @-webkit-keyframes lsPosSecond {
    from { top: -10%; left: 69%; }
    to { top: 105%; left: 9%; }
  }
  @-moz-keyframes lsPosSecond {
    from { top: -10%; left: 69%; }
    to { top: 105%; left: 9%; }
  }
  @-o-keyframes lsPosSecond {
    from { top: -10%; left: 69%; }
    to { top: 105%; left: 9%; }
  }
  @keyframes lsPosSecond {
    from { top: -10%; left: 69%; }
    to { top: 105%; left: 9%; }
  }

  #lsThird {
    top: 39%;
    left: 39%;
    -webkit-animation: lsPosThird 180s linear infinite;
    -moz-animation: lsPosThird 180s linear infinite;
    -o-animation: lsPosThird 180s linear infinite;
    animation: lsPosThird 180s linear infinite;
  }

  @-webkit-keyframes lsPosThird {
    from { top: -15%; left: 55%; }
    to { top: 115%; left: -5%; }
  }
  @-moz-keyframes lsPosThird {
    from { top: -15%; left: 55%; }
    to { top: 115%; left: -5%; }
  }
  @-o-keyframes lsPosThird {
    from { top: -15%; left: 55%; }
    to { top: 115%; left: -5%; }
  }
  @keyframes lsPosThird {
    from { top: -15%; left: 55%; }
    to { top: 115%; left: -5%; }
  }

  #lsFourth {
    top: 2%;
    left: 5%;
    -webkit-animation: lsPostFourth 145s linear infinite;
    -moz-animation: lsPostFourth 145s linear infinite;
    -o-animation: lsPostFourth 145s linear infinite;
    animation: lsPostFourth 145s linear infinite;
  }
  @-webkit-keyframes lsPostFourth {
    from { top: -15%; left: 120%; }
    to { top: 130%; left: 60%; }
  }
  @-moz-keyframes lsPostFourth {
    from { top: -15%; left: 120%; }
    to { top: 130%; left: 60%; }
  }
  @-o-keyframes lsPostFourth {
    from { top: -15%; left: 120%; }
    to { top: 130%; left: 60%; }
  }
  @keyframes lsPostFourth {
    from { top: -15%; left: 120%; }
    to { top: 130%; left: 60%; }
  }

  #lsFifth {
    top: 27%;
    left: 95%;
    -webkit-animation: lsPostFifth 130s linear infinite;
    -moz-animation: lsPostFifth 130s linear infinite;
    -o-animation: lsPostFifth 130s linear infinite;
    animation: lsPostFifth 130s linear infinite;
  }
  @-webkit-keyframes lsPostFifth {
    from { top: -25%; left: 95%; }
    to { top: 120%; left: 35%;}
  }
  @-moz-keyframes lsPostFifth {
    from { top: -25%; left: 95%; }
    to { top: 120%; left: 35%;}
  }
  @-o-keyframes lsPostFifth {
    from { top: -25%; left: 95%; }
    to { top: 120%; left: 35%;}
  }
  @keyframes lsPostFifth {
    from { top: -25%; left: 95%; }
    to { top: 120%; left: 35%;}
  }
  #lsSixth {
    top: 62%;
    left: 59%;
  }
  #lsSeventh {
    top: 18%;
    left: 7%;
  }
  #lsEighth {
    top: 2%;
    left: 81%;
  }
  #lsNinth {
    top: 52%;
    left: 31%;
  }
  #lsTenth {
    top: 40%;
    left: 56%;
  }
  #lsEleventh {
    top: 95%;
    left: 85%;
  }
  #lsTwelfth {
    top: 82%;
    left: 90%;
  }
}
