body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: white;
  color: #515151;
  /* Rising Moon Animation */
  /* stars */
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body span,
body i {
  margin: 0;
  color: white;
}
body article {
  background: black;
  overflow: hidden;
}
body article .navbar-default .btn-action,
body article .btn-action {
  color: white;
  margin: 5px 0;
  padding: 10px 35px;
  border: 2px solid #528bff;
  background: #528bff;
  transition: all 100ms linear;
}
body article .navbar-default .btn-action:hover,
body article .btn-action:hover {
  color: white;
  background: #528bff;
  text-decoration: none;
}
body article .btn-action-default {
  color: white;
  margin: 5px 0;
  padding: 10px 35px;
  border: 2px solid #7d7d7d;
  background: #7d7d7d;
  transition: all 100ms linear;
}
body article .btn-action-default:hover {
  color: white;
  background: #7d7d7d;
  text-decoration: none;
}
body article .btn-action-primary {
  background-color: #252525;
  padding: 10px 30px;
}
body article nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 0;
  width: 100%;
  z-index: 1000;
  padding-bottom: 200px;
}
body article section.top-baner {
  background: url('../../img/black.png') no-repeat center;
  background-size: cover;
  min-height: 120vh;
  position: relative;
  z-index: 3;
}
body article section.top-baner div.quote {
  margin-top: 25vh;
}
body article section.top-baner div.quote div.content {
  padding: 30px 0;
}
body article section.top-baner span.triangle {
  position: absolute;
  bottom: -100px;
  left: -100%;
  z-index: 100;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: rotate(4deg);
  width: 300%;
  height: 200px;
  display: block;
  background: white;
}
body article section.explain {
  background-color: white;
  min-height: 100vh;
  padding: 200px 0;
}
body article section.explain div.space {
  padding-top: 50px;
}
body article section.explain div.space div.more-project {
  padding: 100px;
}
body article section.explain div.space div.more-project > * {
  color: #515151;
}
body article section.explain h2 {
  padding: 0 0 100px 0;
  color: #0098f7;
  position: relative;
}
body article section.explain h2:after {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  background: #7d7d7d;
  width: 100px;
  height: 1px;
  left: 24%;
}
body article section.explain h2:before {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  background: #7d7d7d;
  width: 100px;
  height: 1px;
  right: 24%;
}
body article section.explain div.box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 50px 20px 30px 20px;
  position: relative;
}
body article section.explain div.box span.border {
  position: absolute;
  display: block;
  background: #528bff;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}
body article section.explain div.box h4 {
  color: #515151;
  padding: 20px 0 30px 0;
}
body article section.explain div.box p {
  color: #7d7d7d;
}
body article section.explain div.box img {
  width: 100px;
  margin: auto;
}
body article section.explain div.box a {
  margin-top: 30px;
  display: block;
}
body article div#particles-js {
  position: absolute;
  top: 150px;
  right: 0;
  z-index: 1;
  height: 600px;
  width: 700px;
  float: right;
}
body footer {
  background: #2d313c;
  padding: 50px 0;
}
body footer h4 {
  text-transform: uppercase;
  color: #0098f7;
  font-size: 16px;
}
body footer ul {
  padding: 20px 0;
}
body footer ul a {
  color: white;
}
body html {
  position: relative;
  height: 100%;
}
body div.backdrop {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .moonlight {
  box-shadow: 0px 0px 350px 350px rgba(29, 72, 120, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  bottom: 70%;
  left: 45%;
  animation: moonrise 50s linear infinite;
}
body .moon {
  box-shadow: inset 0px 0px 50px 1px #6D8F94, 0px 0px 80px 30px rgba(143, 189, 255, 0.7);
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 100%;
}
@keyframes moonrise {
  from {
    bottom: -150%;
    left: 35%;
  }
  to {
    bottom: 230%;
    left: 55%;
  }
}
body .star {
  width: 5px;
  height: 5px;
  position: relative;
  background: white;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, 0.5);
}
body .one {
  -webkit-animation: starlight 3s ease-in infinite;
}
body .two {
  -webkit-animation: starlight 2s ease-in infinite;
}
body .three {
  -webkit-animation: starlight 4s ease-in infinite;
}
body .four {
  -webkit-animation: starlight 1s ease-in infinite;
}
body .five {
  -webkit-animation: starlight 5s ease-in infinite;
}
@keyframes starlight {
  0% {
    box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, 0.5);
  }
  50% {
    box-shadow: 0px 0px 20px 11px rgba(120, 130, 155, 0.5);
  }
  100% {
    box-shadow: 0px 0px 20px 7px rgba(120, 130, 155, 0.5);
  }
}
body .sContainer {
  position: relative;
}
body #sFirst {
  top: 20%;
  left: 60%;
  animation: starone 115s linear infinite;
}
body #sSecond {
  top: 5%;
  left: 22%;
  animation: startwo 124s linear infinite;
}
body #sThird {
  top: 84%;
  left: 17%;
  animation: starthree 120s linear infinite;
}
body #sFourth {
  top: 68%;
  left: 7%;
  animation: starfour 90s linear infinite;
}
body #sFifth {
  top: 42%;
  left: 92%;
  animation: starfive 130s linear infinite;
}
@keyframes starone {
  0% {
    top: -5%;
    left: 80%;
  }
  100% {
    top: 110%;
    left: 20%;
  }
}
@keyframes startwo {
  0% {
    top: -15%;
    left: 22%;
  }
  100% {
    top: 110%;
    left: -38%;
  }
}
@-p-keyframes starthree {
  0% {
    top: -35%;
    left: 57%;
  }
  100% {
    top: 110%;
    left: -3%;
  }
}
@keyframes starthree {
  0% {
    top: -35%;
    left: 57%;
  }
  100% {
    top: 110%;
    left: -3%;
  }
}
@keyframes starfour {
  0% {
    top: -5%;
    left: 137%;
  }
  100% {
    top: 105%;
    left: 77%;
  }
}
@keyframes starfive {
  0% {
    top: -55%;
    left: 92%;
  }
  100% {
    top: 105%;
    left: 32%;
  }
}
body .lstar {
  width: 2px;
  height: 2px;
  background: #aaaaff;
  border-radius: 100%;
  box-shadow: 0px 0px 13px 11px rgba(120, 140, 155, 0.1);
}
body .lone {
  animation: lstarshine 0.4s ease-in infinite;
}
body .ltwo {
  animation: lstarshine 0.2s ease-in infinite;
}
body .lthree {
  animation: lstarshine 0.1s ease-in infinite;
}
body .lfour {
  animation: lstarshine 0.3s ease-in infinite;
}
body .lfive {
  animation: lstarshine 0.3s ease-in infinite;
}
body .lsix {
  animation: lstarshine 0.1s ease-in infinite;
}
body .lseven {
  animation: lstarshine 0.4s ease-in infinite;
}
body .leight {
  animation: lstarshine 0.1s ease-in infinite;
}
body .lnine {
  animation: lstarshine 0.2s ease-in infinite;
}
body .lten {
  animation: lstarshine 0.3s ease-in infinite;
}
body .leleven {
  animation: lstarshine 0.3s ease-in infinite;
}
body .ltwelve {
  animation: lstarshine 0.3s ease-in infinite;
}
body .lsContainer {
  position: relative;
}
body #lsFirst {
  top: 11%;
  left: 28%;
  animation: lsPosFirst 160s linear infinite;
}
@keyframes lsPosFirst {
  from {
    top: -15%;
    left: 26%;
  }
  to {
    top: 102%;
    left: -34%;
  }
}
body #lsSecond {
  top: 69%;
  left: 71%;
  animation: lsPosSecond 130s linear infinite;
}
@keyframes lsPosSecond {
  from {
    top: -10%;
    left: 69%;
  }
  to {
    top: 105%;
    left: 9%;
  }
}
body #lsThird {
  top: 39%;
  left: 39%;
  animation: lsPosThird 180s linear infinite;
}
@keyframes lsPosThird {
  from {
    top: -15%;
    left: 55%;
  }
  to {
    top: 115%;
    left: -5%;
  }
}
body #lsFourth {
  top: 2%;
  left: 5%;
  animation: lsPostFourth 145s linear infinite;
}
@keyframes lsPostFourth {
  from {
    top: -15%;
    left: 120%;
  }
  to {
    top: 130%;
    left: 60%;
  }
}
body #lsFifth {
  top: 27%;
  left: 95%;
  animation: lsPostFifth 130s linear infinite;
}
@keyframes lsPostFifth {
  from {
    top: -25%;
    left: 95%;
  }
  to {
    top: 120%;
    left: 35%;
  }
}
body #lsSixth {
  top: 62%;
  left: 59%;
}
body #lsSeventh {
  top: 18%;
  left: 7%;
}
body #lsEighth {
  top: 2%;
  left: 81%;
}
body #lsNinth {
  top: 52%;
  left: 31%;
}
body #lsTenth {
  top: 40%;
  left: 56%;
}
body #lsEleventh {
  top: 95%;
  left: 85%;
}
body #lsTwelfth {
  top: 82%;
  left: 90%;
}
